.adContainer {
    max-width: 1000px;
    margin: auto;
}
.fake {
    background-color: #DDD;

}
.pageArea {
    display: flex;
    margin-top: 20px;
}

.leftSide {
    flex: 1;
    margin-right: 20px;
}
.box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    margin-bottom: 20px;
    display: flex;
}
.boxPadding {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    margin-bottom: 20px;
    padding: 10px;
}
.adImage {
    width: 320px;
    height: 320px;
    margin-right: 20px;

}
.eachSlide {
    display: flex;
    justify-content: center;
    background-size: contain;
    height: 320px;
}
.eachSlide {

}

.adInfo {
    flex: 1;
}
.adName {
    margin-bottom: 20px;
}
.adName h2 {
    margin: 0;
    margin-top: 20px;
}
.adName small {
    color: #999;
}
.adDescription {

}
.adDescription small {
    color: #999;
}

.rightSide {
    width: 250px;
}
.price span {
    color: #0000FF;
    display: block;
    font-size: 27px;
    font-weight: bold;
}
.contactSellerLink {
    background-color: #0000FF;
    color: #FFF;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}
.createdBy strong {
    display: block;
}
.createdBy small {
    display: block;
    color: #999;
    margin-top: 10px;
}

@media (max-width:600px) {

    .pageArea {
        flex-direction: column;
    }
    .leftSide {
        margin: 0;
    }
    .leftSide .box {
        flex-direction: column;
        width: 320px;
        margin: auto;
    }
    .adInfo {
        padding: 10px;
    }

    .rightSide {
        width: auto;
        margin-top: 20px;
    }
    .boxPadding {
        width: 320px;
        margin: auto;
    }
    .contactSellerLink {
        width: 320px;
        margin: 20px auto;

    }

}




/* OTHERS AREA */

.othersArea {
    width: 100%;
}
.othersArea h2 {
    font-size: 20px;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.adItem {
    width: 30% !important;
}

@media (max-width:600px) {
    .othersArea {
        margin: 10px;
    }
    .list .adItem {
        width: 50%;
    }
    
}







/* BreadChumb */
.BreadChumb {
    font-size: 13px;
    margin-top: 20px;
}
.BreadChumb span {
    margin-left: 4px;
}
.BreadChumb a {
    display: inline-block;
    margin:0px 5px;
    text-decoration: underline;
    color: #000;
}

@media (max-width:600px) {
    .BreadChumb {
        margin: 20px
    }
    
}