:root {
    --background-light : #F0F2FA;
    --background-white : #F6F5FF;
    --text-dark: #0A0040;
    --color-primary: #6143FF;
}

.SearchArea {
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}

.searchBox {
    background-color: #9BB83C;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px rgba(0, 0, 0, 0.2);
    display: flex;
}
.searchBox form {
    flex: 1;
    display: flex;
}

.searchBox input, .searchBox select {
    height: 40px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-size: 15px;
    color: #000;
    margin-right: 20px;
}
.searchBox input {
    flex: 1;
    padding: 0 10px;
}
.searchBox select {
    width: 100px;
}
.searchBox button {
    background-color: #49AEEF;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;

}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}
.categoryItem {
    width: 25%;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    height: 50px;
    margin-bottom: 10px;
}
.categoryItem:hover {
    color: #999;
}
.categoryItem img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.homeContainer {
    max-width: 1000px;
    margin: auto;
}

@media (max-width:600px) {
    .searchBox form {
        flex-direction: column;
    }
    .searchBox input {
        padding: 10px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .searchBox select {
        width: 100%;
        margin-bottom: 10px;
    }
    .categoryList .categoryItem {
        width: 50%;
        padding: 10px;
    }
}




.PageArea {

}
.PageArea h2 {
    font-size: 20px;
}
.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.list .adItem {
    width: 25%;
}
.seeAllLink {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

@media (max-width:600px) {
    .PageArea h2 {
        
    }
    .list .adItem {
        width: 50%;
    }
    .homeContainer {
        margin: 10px;
    }
}
